@import url("../App.css");

.delivery_title{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	/* background-color: aquamarine; */

}
.delivery_content{
	height: 75%;
	width: 1600px;
	/* background-color:coral; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	gap: 23px;
}
.delivery_1_main_main{
	width: 100%;
	height: 100%;
	/* background-color: black; */
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.delivery{
	width: 100%;
	height: 35vh;
}
#one{
	background-color: var(--off-white);
}
#two{
	background-color: white;
}
.delivery_1_main{
	height: 100%;
	width: 69% !important;
	/* background-color: aqua; */
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
}
.delivery_1_main_box{
	width: 17rem;
	height: 100%;
	/* background-color: antiquewhite; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}
.delivery_1_main_box_img{
	width: 17rem;
	height: 17rem;
	border-radius: 50%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color: azure;
}
.delivery_1_main_box_img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: contain;
}
.delivery_1_main_box_title p{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.delivery_content_right,.delivery_content_left{
	position:absolute;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px -20px;
	bottom: 0;
	top: 0;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.delivery_content_right:active{
	background-color:var(--almost-white);
}
.delivery_content_left:active{
	background-color:var(--almost-white);
}
.delivery_content_left{
	left: 0;
}
.delivery_content_right{
	right: 0;
}
.delivery_2{
	width: 69% !important;
	min-height: 50vh;
	/* background-color: aquamarine; */
}
.delivery_2_main_main{
	margin-top: 20px;
	width: 100%;
	min-height:50vh;
	/* background-color: aquamarine; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.delivery_2_main_main_content{
	width: 35rem;
	height: 40rem;
	border-radius: 20px;
	margin:20px 0px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content:flex-start;
	flex-direction: column;
	gap: 5px;
	transition: 100ms;
	cursor: pointer;
}
.delivery_2_main_main_content:hover{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.delivery_2_main_main_content_img{
	width: 98%;
	height: 23rem;
	border-radius: 20px;
	/* background-color: aqua; */
	margin-top: 10px;
}
.delivery_2_main_main_content_img img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}
.delivery_2_main_main_content_info{
	width: 98%;
	height: 7rem;
	border-radius: 20px;
	/* background-color: aqua; */
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.delivery_2_main_main_content_info button{
	color: white;
	border: none;
	border-radius: 5px;
	padding: 3px 4px;
	background-color: var(--green);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
}
.delivery_2_main_main_content_info button i{
	font-size: 1rem;
}
.delivery_2_main_main_content_info p:nth-child(1){
	width: 80%;
	font-size: 2rem;
	font-weight: bold;
}
.delivery_2_main_main_content_info p:nth-child(3){
	color: var(--grey);
}
.delivery_2_main_main_content_info p:nth-child(4){
	color: var(--grey);
}
@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
	.delivery_2_main_main_content{
		width: 32rem;
	}
}
@media (max-width: 768px) {
	.delivery{
		height: 30vh;
	}
	.delivery_title{
		font-size: 1.2rem;
	}
	.delivery_content{
		height: 70%;
		gap: 23px;
	}
	.delivery_1_main_box_img{
		width: 10rem;
		height: 10rem;
	}
	.delivery_1_main_box_title p{
		font-size: 1.8rem;
	}
	.delivery_content_right,.delivery_content_left{
		height: 30px;
		width: 30px;
	}
	.delivery_2_main_main_content{
		width: 22rem;
	}
}
@media (max-width: 640px) {
	.delivery_2_main_main_content{
		width: 32rem;
	}
}
@media (max-width: 475px) {
	.delivery_title{
		font-size: 0.8rem;
	}
	.delivery_1_main_box_img{
		width: 7rem;
		height: 7rem;
	}
	.delivery_1_main_box_title p{
		font-size: 1.4rem;
	}
	.delivery_content_right,.delivery_content_left{
		height: 30px;
		width: 30px;
	}
}